[program:airflow-{{ service }}]
command={{ airflow_install_directory }}/{{ service }}_start.sh
environment=AIRFLOW_HOME="{{ airflow_install_directory }}"

user={{ airflow_user }}

autostart=true
autorestart=true

stdout_logfile={{ celery_log_dir }}/airflow-{{ service }}.log
redirect_stderr = true

priority=1001
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=5
